{% extends "account/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap %}
{% load account socialaccount %}
{% include 'account/head_css.html' %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}


{% block content %}
<div class="account_div">
  <h1 class="positions">{% trans "Sign In" %}</h1>

  {% get_providers as socialaccount_providers %}
  {% if socialaccount_providers %}
  <p style="font-size:15px;">{% blocktrans with site.name as site_name %}Please sign in with one
  of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
  for a {{ site_name }} account and sign in
  below:{% endblocktrans %}</p>

  <div class="socialaccount_ballot">

    <button style="list-style:none;" class="loginBtn loginBtn--google">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </button>

    <div class="login-or">{% trans '' %}</div>

  </div>


    {% include "socialaccount/snippets/login_extra.html" %}



  {% endif %}

  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form|bootstrap }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="form-actions">
      <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
      <a class="btn" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

    </div>
  </form>
</div>

{% endblock %}
