{% extends "account/base.html" %}
{% block content %}
{% load quiz_tags %}
{% load i18n %}

{% block page_title %}
    {{ quiz.title }}
{% endblock %}

{% block header %}
    <h3>{{ quiz.title }}</h3>
{% endblock %}

{% block article %}

{{ quiz.description }}

{% if previous %}

    {# Show the result of the previous question #}
    {# if it must be shown after each answer    #}

    <p class="muted"><small>The previous question:</small></p>
    <p>{{ previous.previous_question }}</p>

    {% ifequal previous.previous_outcome 'correct' %}
    <div class="alert alert-success">
    {% else %}
    <div class="alert alert-error">
    {% endifequal %}

        <p>
            <small>Your answer was </small>
            <em>{{ previous.previous_answer }}</em>
            <small> which is </small>
            <strong>{{ previous.previous_outcome }}</strong>
        </p>
    </div>

    {% correct_answer previous %}

    <p><strong>Explanation:</strong></p>
    <div class="well " style="background-color: #fcf8e3;">
        <p>{{ previous.previous_question.explanation }}</p>
    </div>

<hr />

{% endif %}

<br />

{% if question %}

    <p>
        <small class="muted">Question category:</small>
        <strong>{{ question.category }}</strong>
    </p>

    <p class="lead">{{ question.content }}</p>
    {% answers_for_question question quiz %}

{% endif %}

<hr />

{% endblock %}
{% endblock %}
